name: ci
on:
  pull_request:
  release:
    types: [published]
  push:
    tags:
    branches:
      - main
      - develop
  # workaround to use variables in matrix definition
  workflow_dispatch:
    inputs:
      CLANG_COMPILER:
        description: "clang compiler binary"
        required: false
        default: "clang++"
      GCC_COMPILER:
        description: "GCC compiler binary"
        required: false
        default: "g++-14"
      MSVC_COMPILER:
        description: "MSVC compiler binary"
        required: false
        default: "cl"
env:
  PROJECT_NAME: CppStaticLib

  CLANG_TIDY_VERSION: "19.1.1"

jobs:
  build:
    permissions:
      # permission required to create branch with coverage
      contents: write
      # permission required to leave coverage comment
      pull-requests: write

    name: ${{matrix.os}} ${{matrix.cpp_compiler}} ${{matrix.build_type}} ${{matrix.generator}}
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      # Set up a matrix to run the following 3 configurations:
      # 1. <Windows, Release, latest MSVC compiler toolchain on the default runner image, default generator>
      # 2. <Linux, Release, latest GCC compiler toolchain on the default runner image, default generator>
      # 3. <Linux, Release, latest Clang compiler toolchain on the default runner image, default generator>
      #
      # To add more build types (Release, Debug, RelWithDebInfo, etc.) customize the build_type list.
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        build_type:
          - Release
          - Debug
        cpp_compiler:
          - g++-14
          - clang++
          - cl
        generator:
          - "Ninja Multi-Config"
        include:
          # Add appropriate variables for gcov version required. This will intentionally break
          # if you try to use a compiler that does not have gcov set
          - cpp_compiler: g++-14
            gcov_executable: gcov-14

          - cpp_compiler: clang++
            gcov_executable: "llvm-cov gcov"

          - os: windows-latest
            cpp_compiler: cl
            generator: "Visual Studio 17"
            build_type: Release

          - os: ubuntu-latest
            cpp_compiler: g++-14
            generator: "Unix Makefiles"
            build_type: Release

          - os: ubuntu-latest
            cpp_compiler: clang++
            generator: "Unix Makefiles"
            build_type: Release
        exclude:
          - os: windows-latest
            cpp_compiler: g++-14
          - os: windows-latest
            cpp_compiler: clang++
          - os: ubuntu-latest
            cpp_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Setup Cache
      uses: ./.github/setup_cache
      with:
        compiler: ${{ matrix.cpp_compiler }}
        build_type: ${{ matrix.build_type }}
        generator: ${{ matrix.generator }}

    - name: Install format dependencies
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.cpp_compiler == inputs.CLANG_COMPILER }}
      run: pip3 install cmake_format==0.6.11 pyyaml

    - name: Check CMake style
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.cpp_compiler == inputs.CLANG_COMPILER }}
      run: cmake-format --check ./CMakeLists.txt

    - uses: DoozyX/clang-format-lint-action@v0.20
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.cpp_compiler == inputs.CLANG_COMPILER }}
      with:
        source: '.'
        exclude: './third_party ./external'
        extensions: 'h,cpp,hpp'
        clangFormatVersion: 19
        inplace: True

    - name: Setup Cpp
      uses: aminya/setup-cpp@v1
      with:
        compiler: ${{ matrix.cpp_compiler }}
        vcvarsall: ${{ contains(matrix.os, 'windows' )}}

        cmake: true
        ninja: true
        vcpkg: false
        ccache: true
        clangtidy: ${{ env.CLANG_TIDY_VERSION }}


        cppcheck: true

        gcovr: ${{ contains(matrix.os, 'ubuntu') && matrix.build_type == 'Debug'}}
        opencppcoverage: ${{ contains(matrix.os, 'windows') && matrix.build_type == 'Debug'}}

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -G "${{matrix.generator}}"
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DENABLE_CODE_ANALYSIS=ON
        -DBUILD_TESTS=ON
        -D${{ env.PROJECT_NAME }}_ENABLE_COVERAGE:BOOL=${{ matrix.build_type == 'Debug' }}
        -S ${{ github.workspace }}

    - name: Build
      run: |
        # Build your program with the given configuration. Note that --config is needed because the default Windows generator is a multi-config generator (Visual Studio generator).
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }} --verbose

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}/test
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        ctest -C ${{matrix.build_type}} --output-on-failure

    - name: Unix - Coverage
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.build_type == 'Debug'}}
      working-directory: ${{ github.workspace }}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        gcovr --root ../ --xml-pretty --xml ${{ github.workspace }}/build/coverage.xml --gcov-executable '${{ matrix.gcov_executable }}'

    - name: Windows - Coverage
      if: ${{ contains(matrix.os, 'windows') && matrix.build_type == 'Debug'}}
      working-directory: ${{ github.workspace }}
      run: |
        OpenCppCoverage.exe --export_type cobertura:${{ github.workspace }}\build\coverage.xml --cover_children --excluded_sources "test\\" --excluded_sources "build\\" --sources "${{ github.workspace }}\src" --sources "${{ github.workspace }}\include" -- ${{ github.workspace }}\build\test\Debug\${{ env.PROJECT_NAME }}Tests.exe

    - name: Produce the coverage report
      if: ${{ matrix.build_type == 'Debug'}}
      uses: insightsengineering/coverage-action@v3
      with:
        # Path to the Cobertura XML report.
        path: ./build/coverage.xml
        # Minimum total coverage, if you want to the
        # workflow to enforce it as a standard.
        # This has no effect if the `fail` arg is set to `false`.
        threshold: 75
        # Fail the workflow if the minimum code coverage
        # reuqirements are not satisfied.
        fail: true
        # Publish the rendered output as a PR comment
        publish: true
        # Create a coverage diff report.
        diff: true
        # Branch to diff against.
        # Compare the current coverage to the coverage
        # determined on this branch.
        diff-branch: main
        # This is where the coverage reports for the
        # `diff-branch` are stored.
        # Branch is created if it doesn't already exist'.
        diff-storage: _xml_coverage_reports
        # Subdirectory in the diff-storage branch where the XML reports will be stored.
        storage-subdirectory: coverage-${{matrix.os}}-${{matrix.cpp_compiler}}
        # A custom title that can be added to the code
        # coverage summary in the PR comment.
        coverage-summary-title: Code Coverage Summary ${{matrix.os}}-${{matrix.cpp_compiler}}
        # Failure modes for coverage regression detection:
        # Fail if any changed file has more uncovered lines (pycobertura exit code 2)
        uncovered-statements-increase-failure: false
        # Fail if new uncovered statements are introduced despite overall improvement (pycobertura exit code 3)
        new-uncovered-statements-failure: false
        # Fail if the overall coverage percentage decreases (more forgiving approach)
        coverage-rate-reduction-failure: true
